<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream and Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="active">Classification</a>
        <a href="{{ url_for('clustering') }}">Clustering</a>
        <a href="#">Analytics</a>
    </nav>
    <div class="container">
        <div class="camera-feed">
            <img src="{{ url_for('video_feed') }}">
        </div>
        <div class="engagement-graph">
            <h2>Student is : <span id="predictedLabel" style="color: crimson;"></span></h2>
            <div id="engagementChart"></div>
        </div>
        
        <div class="face_count">
            <h2>Faces Count</h2>
            <div id="facesChart"></div>
        </div>
        <div class="ear-graph">
            <h2>Tiredness</h2>
            <div id="earChart"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
